:root {
  --bg-color: grey;
  --sec-bg-color: black;
  --text-color: white;
  --button: rgb(62, 62, 182);
  --button2: orange;
  --button2-var: rgba(255, 166, 0, 0.941);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.calculator {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.calculator_content {
  height: min-content;
  border-radius: 5px;
  background-color: var(--sec-bg-color);
  padding: 20px;
  box-shadow: 2px 2px 2px 4px;
}

input {
  width: 235px;
  height: 45px;
  background: transparent;
  border-radius: 5px;
  text-align: right;
  color: var(--text-color);
  font-size: ;
}

input::placeholder {
  color: var(--bg-color);
}

button {
  width: 50px;
  height: 50px;
  margin: 3px;
  border: none;
  outline: none;
  border-radius: 3px;
}

button:hover {
  background-color: var(--bg-color);
}

#spec {
  background-color: var(--button);
}

#spec:hover {
  background-color: rgb(9, 9, 153);
}

#special {
  background-color: var(--button2);
}

#special:hover {
  background-color: var(--button2-var);
}
